.header-container {
    padding: 0 2rem;
    text-align: center;
    margin: 3rem auto;
}

.header {
    line-height: 2.75rem;
    font-size: 2.25rem;
    max-width: 21.438rem;
    margin: auto;
}

@media screen and (min-width:768px) {
    .header {
        max-width: 43.125rem;
    }
}

.heading {
    color: var(--medium-brown);
    line-height: 1.62rem;
    margin: 1rem auto;
    max-width: 17.813rem;
}

@media screen and (min-width:768px) {
    .heading {
        max-width: 32rem;

    }
}


@media screen and (min-width:1024px) {
    .heading {
        max-width: 40rem;

    }
}